@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/SourceSansPro-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../fonts/SourceSansPro-Bold.ttf) format('truetype');
}
body {
    background-color: white;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    font-family: 'Source Sans Pro', sans-serif;
}
body.popup {
    width: 350px;
}
.navbar-brand {
    padding: 15px;
    color: white;
    line-height: 0;
}
.navbar-brand > img {
    height: 100%;
    width: auto;
    display: inline-block;
}
.tooltip-inner {
    max-width: 300px;
    width: 300px; 
}
.slider .tooltip-inner {
    white-space: nowrap;
    max-width: none;
    width: auto;
}
.helpIcon {
    font-size: 24px;
    cursor: pointer;
    vertical-align: middle;
    margin: 5px;
}
.helpIconMin {
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
    margin: 5px;
}
.form {
    font-size: 12pt;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.indice {
    font-size: 10pt;
}
label {
    cursor: pointer;
}
hr {
    margin-top: 38px;
    margin-bottom: 8px;
}
div#pageShadowLuminositeDiv {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    z-index: 999999;
    pointer-events: none;
}
