@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/SourceSansPro-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../fonts/SourceSansPro-Bold.ttf) format('truetype');
}
body {
    background-color: white;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    font-family: 'Source Sans Pro', sans-serif;
}
body.popup {
    width: 350px;
    overflow: hidden;
}
.navbar-brand {
    padding: 15px;
    color: white !important;
    line-height: 0;
}
.navbar-brand > img {
    height: 100%;
    width: auto;
    display: inline-block;
}
.tooltip-inner {
    max-width: 300px;
    width: 300px;
}
.slider .tooltip-inner {
    white-space: nowrap;
    max-width: none;
    width: auto;
}
.helpIcon {
    font-size: 24px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 2px;
}
.helpIconMin {
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 2px;
}
.bold {
    font-weight: bold;
}
.largeFontSize {
    font-size: 12pt;
}
.img-resize {
    max-width: 100%;
    height: auto;
}
.title-align {
    vertical-align: middle;
}
.vertical-align {
    vertical-align: middle;
}
#iframeReadme {
    border: 0;
    width: 100%;
    height: 350px;
}
.form-control {
    background-color: white;
}
#previsualisationDiv {
    font-size: 10pt;
}
span[data-toggle] {
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
}
.indice {
    font-size: 10pt;
}
label {
    cursor: pointer;
}
hr {
    margin-top: 38px;
    margin-bottom: 8px;
}
